.row {
    display: flex;
    flex-wrap: wrap;

}

div.child {

    width: 25%;
}

div.content {
    min-height: 200px;
    background-color: rosybrown;
    margin: 5px;
    min-height: 200px;
    padding: 5px;
}


.container {
    margin: auto;
    width: 70%;
}

@media screen and (max-width:600px) {
    div.child {
        width: 100%;
    }

    .container {
        width: 100%;
    }

}

@media screen and (min-width:601px) and (max-width:900px) {
    div.child {
        width: 33%;
    }

    .container {
        width: 90%;
    }
}

img {
    width: 100%;
}

header {
    background-image: url("sky.jpg");
    background-size: cover;
}

header h1 {

    padding: 100px;
    text-align: center;
}


footer address {
    padding: 40px;
    text-align: center;
    color: chartreuse;
    font-size: 20px;
}

footer {
    background-color: cornflowerblue;
}